a {
    color:black;
    text-decoration:none;
  }
  img {display:block;margin: 0px auto}
  ol {
    font-size:18px;
  }
  #id {
    color:red
  }
  .class {
    color:orange
  }
  h1 {
    font-size:40px;
    text-align:center;
    border-bottom:1px solid gray;
    margin:10px 20px 30px;
    padding:10px;
    background-color:pink;
    font-family: 'Black Han Sans', sans-serif;font-family: 'Yeon Sung', cursive;
  }
  ol {
    border-right:2px double gray;
    width:210px;
    margin:0;
    padding:30px
  }
  #list {
    display:grid;
    grid-template-columns: 150px 1fr;
  }
  #body {
    padding-left:80px;
  }